/* .edit-banner-image {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.edit-banner-file {
  margin-right: 10px;
}

.edit-banner-link {
  flex-grow: 1;
} */

.edit-banner-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}

.edit-banner-file {
  margin-right: 10px;
}

.edit-banner-link {
  flex-grow: 1;
}