.editBoard {
    max-width: 600px;
    margin: 0 auto;
}

.editBoard h2 {
    text-align: center;
}

.editBoard input,
.editBoard select,
.editBoard textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}