/* 전체 레이아웃 스타일 */
.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 화면 높이를 최소한으로 설정 */
  }
  
  .main-content {
    flex: 1; /* 메인 콘텐츠가 남은 공간을 채우도록 설정 */
    padding: 20px; /* 내부 여백 */
    
  }
  