.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #A5A4FF;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: none; /* 기본적으로 숨김 */
    justify-content: center;
    align-items: center;
  }
  
  .scroll-to-top.visible {
    display: flex; /* 스크롤 위치에 따라 표시 */
  }
  
  .scroll-to-top:hover {
    background-color: #8A89FF;
  }
  