.Button{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    white-space: nowrap;
}

.Button_default{
    background-color: #B6B5FF;
    color: black;
    border: 1px solid #6a69b1;
}

.Button_positive{
    background-color: #64c964;
    color: white;
    border: 1px solid #239223;
}

.Button_negative{
    background-color: #fd565f;
    color: white;
    border: 1px solid #ce252d;
}

